*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  font-family: roboto, sans-serif;
}
nav{
  width: 100%;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
nav ul{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: #fff;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
nav a:hover{
  background: #c43232;
  border-radius: 5px;
}
nav img{
  display: flex;
  justify-content: start;
  width: 40px;
}
.libro{
  width: 100%;
  height: 900px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.libro h1{
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
.libro img{
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
.libro p{
  color: #fff;
  text-align: center;
  width: 400px;
  padding: 20px;
}
footer{
  position: relative;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: #000;
  text-align: center;
  background: #fff;
}